.container {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  background: #333;
}

.link {
  color: #fff;
  margin: 20px 0;
}
.image {
  margin-bottom: 10px;
  border: 1px solid #444;
}
.grid {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.name {
  width: 100px;
}
.description {
  width: calc(100% - 100px);
}
